// _components.scss

._container {
  width: 100%;
  max-width: var(--max-content-container);
  margin: 0 auto;
  box-sizing: border-box;
}
._no-scroll {
  overflow-y: hidden !important;
  position: fixed !important;
  width: 100vw;
  // -webkit-overflow-scrolling: touch !important;
}
body._no-scroll {
  // padding-right: 15px; //scrollbar width
}
.main {
  display: block; // IE 11 > * compatibility
}
